<div class="section footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <!-- <img src="../assets/images/hmst-blue-tri-logo.png" alt="hmst logo" class="img-fluid"> -->

        <h4>Company Information</h4>
        <div class="wrapper">
          <span class="company-name">HazMat Specialty Tools</span>
          <span>720 Sunset Pond Lane</span>
          <span>Bellingham, WA 98226</span>
        </div>

        <div class="wrapper">
          <span>206.555.5555</span>
          <span>info@hazmatst.com</span>
        </div>
      </div>

      <div class="col-md-4 footer-nav-panel">
        <h4>Site Map</h4>
        <ul class="navigation">
          <li>
            <a href="#">Introduction</a>
          </li>
          <li>
            <a href="#">Highlights</a>
          </li>
          <li>
            <a href="#">Tech Specs</a>
          </li>
          <li>
            <a href="#">DeBleve Video</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 d-flex social-footer">
        <div>
          <h4>Social Media</h4>
          <ul class="social-navigation">
            <li>
              <i class="fab fa-facebook-square"></i>
              <a href="#">Facebook</a>
            </li>
            <li>
              <i class="fab fa-twitter-square"></i>
              <a href="#">Twitter</a>
            </li>
            <li>
              <i class="fab fa-youtube"></i>
              <a href="#">YouTube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
