{% extends 'hmst/base.html' %}{% block content %}
{% load static %}
    <div class="section1">
        <div class="container">
            <img class="main-logo" src="{% static 'hmst/images/hmst-hotness.png' %}" alt="">
            <h1><span>De</span>Bleve</h1>
            <p class="subheading">Safely depressurize unstable barrels with our pneumatic remote drilling system</p>

            <div class="learn-more">
                Learn More
                <i class="far fa-arrow-alt-circle-down"></i>
                            
            </div>
        </div>
    </div>

    <div class="section section2">
        <div class="container">

            <div class="info">
                <div class="title">
                    <span>{&nbsp;</span>
                    <h2 class="text-center">Introducing DeBleve</h2>    
                    <span>&nbsp;}</span>
                </div>
                    <p>De-Bleve  is a portable, remotely operated non-invasive drilling product capable of safely discharging most pressurized containers. The De-BLEVE not only provides enhanced safety, but also reduces the cost of hazardous material releases. </p>

                    <div class="row img-row">
                        <div class="col-md-4"><img src="{% static 'hmst/images/debleve_01.jpg' %}" alt="" class="img-fluid"></div>
                        <div class="col-md-4"><img src="{% static 'hmst/images/debleve_01.jpg' %}" alt="" class="img-fluid"></div>
                        <div class="col-md-4"><img src="{% static 'hmst/images/debleve_01.jpg' %}" alt="" class="img-fluid"></div>
                    </div>

                    

                    
                    
                <!-- <div class="special-info">
                    <h4>What is "Bleve"?</h4>
                    <p>Boiling Liquid Expanding Vapor Explosions (BLEVE) are some of the most dangerous conditions faced in the HAZMAT industry.  Unlabeled, deteriorating, over-pressurized containers/drums come in various sizes and shapes.  If handled improperly, or left to deteriorate, these containers often explode or rupture exposing personnel and the environment to hazardous chemicals.  The use of Liquid Propane Gas (LPG) cylinders has also increased significantly in the production of illegal drugs.  As a result, emergency personnel are forced to handle and transport both of these potentially lethal containers.  Regardless of whether they are located in urban or rural areas, movement of these hazardous containers is regulated by federal code 29 CFR CH. XVII 1910.120 Section (J).  The De BLEVE provides them with a safe, quick method for accomplishing this goal.</p>
                </div> -->
                

            </div>

        </div>
    </div>


    <div class="section section2a">
        <div class="container">
        <div class="title">
            <span>{&nbsp;</span>
            <h2 class="text-center">DeBleve Highlights</h2>    
            <span>&nbsp;}</span>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>Easily setup and operated by a single user</li>
                    <li>Fits most drums (including horizontal)</li>
                    <li>Drills through "bung lids" allowing for re-sealing</li>
                    <li>Can be operated from a safe distance of 100ft</li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul>
                    <li>Entirely pneumatic</li>
                    <li>Electro-static discharge protected</li>
                    <li>Lightweight aluminum frame construction</li>
                    <li>Can be customized to address special projects</li>
                </ul>
            </div>
        </div>
    </div>
    </div>


    <div class="section section3">
        <div class="container">
                <div class="title">
                    <span>{&nbsp;</span>
                    <h2 class="text-center">See It In Action</h2>    
                    <span>&nbsp;}</span>
                </div>
                <p>Below you will see a successful field test performed by NRC in Washington.</p>
                <div class="my-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/i-fxO4b-G44" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>                     
                    </div>
                </div>   
                
            </div>
            
        </div>
    </div>


    <!-- <footer>
        <div class="container">
            <div class="front-footer">
                    <p>Have questions? Ready to take on bleve barrels safely?
                    <br>
                    <span>Give us a shout!</span></p>
                    <button class="btn btn-lg btn-primary">Contact Us</button>
            </div>

            <div class="back-footer">

            
            <div class="row">
                
                <div class="col-md-6 callout">
                    Have questions? Ready to take on bleve barrels safely?
                    <br>
                    <span>Give us a shout!</span>
                    <button class="btn btn-lg btn-primary">Contact Us</button>
                </div>

                <div class="col-md-6">
                    <form action="" id="contact-form">

                        <div class="form-group">
                            <label for="first-name">Company Name:</label>
                            <input type="text" name="last-name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="first-name">First Name:</label>
                            <input type="text" name="last-name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="last-name">Last Name:</label>
                            <input type="text" name="last-name" class="form-control">
                        </div>
                        

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="number" class="form-control">
                        </div>

                        <button class="btn btn-primary" type="sumbit">Submit</button>
                        

                    </form>
                </div>
                
            </div>
        </div>
    </div>
    </footer> -->

    <footer>

        <div class="footer-content-main">
            
            <div class="callout center-absolute">
                <p>
                    Have questions? Ready to take on bleve barrels safely?
                    <br>
                    <span>Give us a shout!</span>
                </p>
                <button class="btn btn-lg btn-primary" id="contact-button">Contact Us</button>
                
            </div>

            <div class="container">
            <form action="" id="contact-form">
                    <h3>Please enter your contact information:</h3>
                    
                <div class="form-group">
                    <label for="first-name">Company Name:</label>
                    <input type="text" name="last-name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="first-name">First Name:</label>
                    <input type="text" name="last-name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="last-name">Last Name:</label>
                    <input type="text" name="last-name" class="form-control">
                </div>
                

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" class="form-control">
                </div>

                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="number" class="form-control">
                </div>

                <button class="btn btn-primary" type="sumbit">Submit</button>
                

            </form>
        </div>
        </div>

        <!-- <div class="footer-content-form">
            <div class="container">
                
            </div>
        </div> -->

    </footer>

{% endblock %}