@import '../../_variables';
.section3 {
  background-color: $blue;
  color: #fff; // font-family: $accent-font !important;
  text-align: left; // clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 95%);
  padding: 3.5em 0; // margin-top: -3em;
  h2 {
    // color:$yellow;
    color: #333;
  }
  div.title {
    h2 {
      color: white;
    }
    span {
      color: $light-blue;
    }
  }
  .my-video {
    padding: 1em;
    position: relative;
    margin-top: 2em;
    background-color: rgba(255, 255, 255, .3);
    transition: .5s; // border:2px solid transparent;
    // transition: .5s border ease;
    div:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, .35);
    }
  } // .my-video:hover {
  //     border:2px solid white;
  // }
  div.my-video::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0;
    width: 0;
    border: 4px solid transparent;
  } // div.my-video::after {
  //     content:'';
  //     position: absolute;
  //     bottom: 0;
  //     right:0;
  //     height:0;
  //     width:0;
  //     border:4px solid transparent;
  // }
  div.my-video:hover::before,
  div.my-video:focus::before {
    animation: animateBackground .75s linear forwards;
  } // div.my-video:hover::after {
  //     animation: animateRightBottomBorder .5s linear forwards;
  // }
  @keyframes animateBackground {
    0% {
      background-color: $light-blue;
      width: 100%;
      height: 0%;
    }
    50% {
      width: 100%;
      height: 100%;
      background-color: $light-blue;
    }
    100% {
      width: 100%;
      height: 100%;
    }
  }
  @keyframes animateLeftTopBorder {
    0% {
      width: 0;
      height: 0;
      border-top-color: white;
      border-right-color: transparent;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-color: white;
      border-right-color: transparent;
      border-left-color: white;
      border-bottom-color: transparent;
    }
  }
  @keyframes animateRightBottomBorder {
    0% {
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: white;
      border-left-color: transparent;
      border-bottom-color: white;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: white;
      border-left-color: transparent;
      border-bottom-color: white;
    }
  }
}
