<div class="section">
  <div class="container">
    <div class="title">
      <span>{{ "{" }}</span>
      <h2 class="text-center">Technical Specifications</h2>
      <span>{{ "}" }}</span>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h4>Overall Frame Dimensions</h4>
        <table class="table">
          <tr>
            <td>Height:</td>
            <td>36 inches</td>
          </tr>
          <tr>
            <td>Length:</td>
            <td>35 inches</td>
          </tr>
          <tr>
            <td>Width:</td>
            <td>27 inches</td>
          </tr>
          <tr>
            <td>Weight:</td>
            <td>
              55 lbs</td>
          </tr>
        </table>

      </div>
      <div class="col-md-4">
        <h4>Operational Parameters</h4>
        <table class="table">
          <tr>
            <td>Current Operating PSI</td>
            <td>20 psi</td>
          </tr>
          <tr>
            <td>Minimum Operating PSI</td>
            <td>10 psi</td>
          </tr>
          <tr>
            <td>Maximum Operating PSI</td>
            <td>200 psi</td>
          </tr>
          <tr>
            <td>Maximum Operating Temperature</td>
            <td>150&deg; F</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4">
        <h4>Polyflow Tubing Temperature Range</h4>
        <table class="table">
          <tr>
            <td>Nylon</td>
            <td>-160&deg; F to +200&deg; F</td>
          </tr>
          <tr>
            <td>Polyethylene</td>
            <td>-100&deg; F to +175&deg; F</td>
          </tr>
        </table>

        <h4>Operations Per Tank*</h4>
        <table class="table">
          <tr>
            <td>"H" cylinder</td>
            <td>-300</td>
          </tr>
          <tr>
            <td>SCBA cylinder</td>
            <td>-50</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
