@import '../../_variables';

.section2a {
  background-color: #FFCE0D;
  background-color: #333;
  background-image: url('../../assets/images/dark_barrels_background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 100%);
  // margin-top: -2.5em;

  div.title {
      h2 {
          color:$yellow;
          font-family: $accent-font;
          font-style: italic;
          font-weight: 300;
      }
  }

  li {
      margin-bottom: .5em;
      color:#fff;
      // font-family: $accent-font;
      // font-style: italic;
  }
}
