<div class="section section2a">
    <div class="container">
    <div class="title">
        <span>{{ "{" }}</span>
        <h2 class="text-center">DeBleve Highlights</h2>
        <span>{{ "}" }}</span>
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Easily setup and operated by a single user</li>
                <li>Fits most drums (including horizontal)</li>
                <li>Drills through "bung lids" allowing for re-sealing</li>
                <li>Can be operated from a safe distance of 100ft</li>
            </ul>
        </div>

        <div class="col-md-6">
            <ul>
                <li>Entirely pneumatic</li>
                <li>Electro-static discharge protected</li>
                <li>Lightweight aluminum frame construction</li>
                <li>Can be customized to address special projects</li>
            </ul>
        </div>
    </div>
</div>
</div>
